.services {
  display: flex;
  height: 30rem;
  margin-top: 35rem;
  margin-bottom: 13rem;
  margin-left: 3rem;
  padding-top: 2.5rem;
}

/* left side */
.awesome {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 40%;
  margin-top: -12%;
}

.awesome> :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}

.awesome> :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}

.awesome> :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
  margin-top: 1rem;
}

/* blur */
.s-blur2 {
  left: 14rem;
  top: 8rem;
}

.s-blur1 {
  top: 13rem;
  left: -18rem;
}