.gradiantback {
    margin-top: -4rem;
    background: linear-gradient(
      106.37deg,
      #ffe1bc 29.63%,
      #ffcfd1 51.55%,
      #f3c6f1 90.85%
    );
}

.glassback {
    background: var(--glass);
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: 12rem auto 1rem;
    overflow: hidden;
}

.home {
    color: black;
    display: block;
    margin-top: 4rem;
    margin-left: 20rem;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}